nav
{
    background-color: $color-nav;
    padding: 14px 0px;
    position: sticky;
    margin: 0%;
}

nav a {
    float: none;
    color: $color-text-light;
    text-align: center;
    border-radius: 20px;
    padding: 8px 14px;
    text-decoration: none;
    font-size: 17px;
    margin: 5px;
}

nav a:hover {
    background-color: $color-background;
    color: $color-text-dark;
}
  
nav a.current {
    background-color: $color-current;
    color: $color-text-dark;
}
