$color-background: #8CA0BA;
$color-nav: #0d1321;
$color-hover: #8ca0ba;
$color-current: #38e2b7;
$color-panel: #0d1321;

$color-text-light: #ffffff;
$color-text-dark: #000000;

$font-sans-serif: "Roboto", "sans-serif";